* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

nav {
    width: 100%;
    position: fixed;
    z-index: 20;
}

.site-menu {
    position: absolute;
    height: 8vh;
    width: 45vh;
    font-size: 5rem;
    left: 5%;
    top: 0;
    text-decoration: none;
    align-items: center;
    border-radius: 25px;
    padding-right: 12%;
    padding-left: 4%;
    padding-bottom: 1%;
    z-index: 2;
}

i {
    margin-top: 4%;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
}

site-menu--active {
    display: inline;
}

.icon-facebook {
    color: blue;
}

.icon-linkedin-squared {
    color: navy;
}

.icon-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-gmail {
    color: red;
}

.hamburger {
    position: absolute;
    right: 0;
    margin-top: 2%;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 0;
}

.hamburger:focus > .hamburger__container {
    box-shadow: 0 0 2px 2px #51a7e8;
}

.hamburger:focus, .hamburger__container:focus {
    outline: none;
}

.hamburger__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 35px;
    height: 30px;
}

.hamburger__bars {
    position: absolute;
    width: 35px;
    height: 4px;
    background-color: #000;
    border-radius: 20px;
    transition: transform 220ms ease-in-out;
}

.hamburger__bars::before, .hamburger__bars::after {
    display: block;
    position: absolute;
    width: 35px;
    height: 4px;
    border-radius: 20px;
    background-color: #000;
    content: '';
}

.hamburger__bars::before {
    top: -12px;
    transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
}

.hamburger__bars::after {
    bottom: -12px;
    transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
}

.hamburger--active .hamburger__bars {
    transform: rotate(225deg);
    transition: transform 220ms 120ms ease-in-out;
}

.hamburger--active .hamburger__bars::before {
    top: 0;
    transition: top 100ms ease-out;
}

.hamburger--active .hamburger__bars::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out;
    z-index: 0;
}

header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #aaaaaa 10%, #dddddd 80%);
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

header img {
    width: 150%;
    height: 60vh;
    margin-top: 10vh;
    left: 10%;
}

header nav {
    position: fixed;
    right: 7%;
    top: 2%;
    font-size: 5rem;
}

header hgroup {
    width: 100%;
    height: 13%;
    position: relative;
    top: 15%;
    left: 5%;
}

header h1 {
    position: absolute;
    top: 17%;
    font-size: 4rem;
    text-align: left;
    margin-left: 15%;
}

header h2 {
    position: absolute;
    top: 25%;
    font-size: 2rem;
    margin-left: 30%;
    text-align: right;
}

.inner {
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    transition: left 1s;
}

.inner2 {
    /*position: absolute;*/
    /*left: -50%;*/
    /*transform: translate(-50%, -50%);*/

}

#arrow {
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    font-size: 5rem;
    transform: translateX(-50%);
    font-weight: bolder;
    text-align: center;
    text-shadow: 0 -22px 0 black, 0 -44px 0 black;
    overflow: hidden;
}

#arrow:hover {
    text-shadow: 0 -22px 0 white, 0 -44px 0 white;
    color: white;
    /*background-color: black;*/
    border-color: white;
    transition: 1s ease;
    cursor: pointer;
}

.arrows {
    animation: arrow 1.5s infinite linear;
}

main {
    background: linear-gradient(to right, #aaaaaa 10%, #dddddd 80%);
    position: relative;
    height: 89vh;
    margin-top: 100vh;
    z-index: 3;
}

main #intro {

}

main #intro img {
    width: 100%;
    /*margin-top: 10%;*/
    z-index: 2;
}

main #intro-title {
    font-size: 1.8rem;
    font-weight: bolder;
    color: white;
    position: absolute;
    top: 9%;
    left: 11%;
    transform: rotate(-6deg);
    z-index: 1;
}

li {
    display: inline-block;
    text-shadow: 0 0 1rem white, 0 0 1rem white;
}

main #intro-text {
    background-color: whitesmoke;
    font-size: 1.7rem;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    letter-spacing: 1px;
}

#skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    font-size: 1.8rem;
    float: left;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    line-height: 4.5rem;
}

#intro-footer {
    font-size: 2.5rem;
    text-align: center;
    top: 80%;
}

section {
    height: 89vh;
    background: whitesmoke;
    z-index: 2;
    margin-top: 189vh;
}


@media (min-width: 576px) {
    header img {
        width: 60%;
        height: 90%;
    }

    hgroup {
        margin-left: 30%;
        margin-top: 15%;
    }

    header h1 {
        font-size: 4.5rem;
        top: 20%;
        right: 15%;

    }

    header h2 {
        font-size: 3rem;
        right: 5%;
        text-align: center;
        margin-top: 10%;
    }
}

@media (min-width: 768px) {
    header img {
        height: 100%;
        width: 100%;
        margin-top: 10%;
    }
    .site-menu {
        font-size: 2rem;
        width: 100%;
        text-decoration: none;
    }

    header h1 {
        margin-left: 10%;
    }
}

@media (min-width: 1024px) {
    header img {
        width: 45%;
        height: 90%;
    }

    header h1 {
        font-size: 6rem;
    }
}

@keyframes arrow {
    0% {
        transform: translateY(80px)
    }
    50% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(-80px)
    }
}
